{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Thoughts and musings...{% endblock %}
{% block body %}
<h1 class="title has-text-primary">Blog</h1>


<section class="section">
    <div class="container is-fluid">
        <div class="columns is-multiline">

        {% for post in this.pagination.items %}
        <div class="column is-half">
            <div class="box">

             
            <a href="{{ post|url }}" class="is-size-4-desktop has-text-weight-normal">{{ post.title }}</a>
        
            {% set image = post.attachments.images.first() %}
            
            {% if image %}  
                  <section class="section">   
                 <a href="{{ post|url }}"><img src="{{ image.thumbnail(512)|url }}" alt="Image from the post {{ post.title }}"></a>
                  </section>
            {% endif %}
                        <p>{{ post.summary }}
            <a class="more" href="{{ post|url }}">Read more ...</a></p>

            </div>
        </div>
        {% endfor %}

        </div>
    </div>
</section>

{% endblock %}