{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Prehistory{% endblock %}
{% block body %}
<h1 class="title has-text-primary">Prehistory</h1>

<p>
A long, long time ago, in the era before I started my computer science degree, but after I studied <a href ="https://en.wikipedia.org/wiki/Industrial_design">Industrial Design</a>, I was a 3D animator and graphic designer. I refer to this period as the prehistory period. I used to go by the moniker <a href="https://www.turbosquid.com/Search/Artists/JG3D">JG3D</a> and these artifacts are mementos to that period in my life.
</p>
<p>
Click any of the prehistory items below to discover more.
</p>

<section class="section">
    <div class="container is-fluid">
        <div class="columns is-multiline">

        {% for post in this.pagination.items %}
        <div class="column is-one-third">
            <div class="box">

             
            <a href="{{ post|url }}" class="is-size-4 has-text-weight-normal">{{ post.title }}</a>
        
            {% set image = post.attachments.images.first() %}
            
            {% if image %}  
                
                 <a href="{{ post|url }}"><img class="post-img" src="{{ image.thumbnail(640)|url }}" alt="Thumbnail image for {{ post.title }}"></a>
                 
            {% endif %}
                        <p>{{ post.summary }}
            <a class="more" href="{{ post|url }}">Read more ...</a></p>

            </div>
        </div>
        {% endfor %}

        </div>
    </div>
</section>

{% endblock %}
